location-info {
  display: block;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: var(--color);
  color: var(--bg);
  z-index: 99999;
  padding: 1rem;
  box-sizing: border-box;
}
location-info .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}