:root {
  --color-blue: #aad3df;
  --color-darkgreen: #235a0c;
  --color-mediumgreen: #add19e;
  --color-lightgreen: #cdebb0;
  --color-lightgrey: #f2efe9;

  --color: #333;
  --color-1: #555;
  --color-3: #777;
  --color-5: #999;
  --color-7: #bbb;
  --color-9: #ddd;
  --bg: #efede5;
  --bg-transparent: hsla(0, 0%, 100%, 0.5);

  --accent: hsl(102, 100%, 20%);
  --accent2: red;

  --action-bar-height: 2.5rem;
}
