.location-status {
  z-index: 10;
  position: fixed;
  top: 0.5rem;
  left: 0;
  height: auto;
  width: auto;
}

.location-status dl {
}

.location-status dt,
.location-status dd {
  background-color: hsla(0, 0%, 0%, 0.4);
  color: var(--color);
  padding: 0.25rem 0.5rem;
  width: auto;
  display: inline-block;
}
