location-info {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);

  article {
    padding: 1rem;
  }

  .location-details small {
    display: block;
  }

  .actions {
    margin: 0;
    background-color: var(--color-1);
    display: flex;
    flex-flow: row nowrap;
    gap: 1px;
  }
}
