leaflet-map {
  display: block;
  height: 100%;
  width: 100%;
}

#lftmap {
  height: 100%;
  width: 100%;
  background-color: var(--color);
}

.leaflet-control-attribution {
  background-color: hsl(0, 0%, 100%, 0.3) !important;
}
.leaflet-control-attribution a {
  color: var(--bg);
}

.leaflet-control-scale {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}
