location-list {
  button[popovertargetaction] {
    position: fixed;
    z-index: 3;

    img {
      width: 1.5rem;
      height: auto;
    }
  }

  button[popovertargetaction="show"] {
    right: 1rem;
    bottom: 1rem;
  }

  button[popovertargetaction="hide"] {
    top: 1rem;
    right: 1rem;
  }

  #locationlist {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    width: auto;
    height: auto;
    z-index: 2;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    display: block;
    border-bottom: solid 1px var(--color-9);
  }

  ul li button {
    display: flex;
    width: 100%;
    text-align: left;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  ul li button svg {
    width: 1rem;
    height: auto;
  }
}
